{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block web_title %}Meal Delivery - Eliminar{% endblock %}

{% block title %}Eliminar opción{% endblock %}
{% block content %}
<form action= "" method="POST">
    <!--Form to confirm the delete of an option-->
    {% csrf_token %}
    <div class="card border-bottom-danger shadow mx-auto" style="width: 40rem;">
        <div class="card-header bg-secondary">
            <h5 class="card-title text-white">¿Estás seguro que deseas eliminar la opción?</h5>
        </div>
        <div class="card-body">
            Esa opción se veía sabrosa
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger " value="Delete">Eliminar opción</button>
        </div>
    </div>
</form>
{% endblock %}