{% extends "base.html" %}
{% load staticfiles %}
{% block script %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
{% endblock %}
{% load widget_tweaks %}
{% block web_title %}Meal Delivery - Menú{% endblock %}

{% block title %}Menú{% endblock %}

{% block content %}

    
    <form action="{% url 'Menu' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col">
            {{ form.date.label_tag }}
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            {{ form.date }}
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="col">
          {{ form.maindish.label_tag }}
          {{ form.maindish | add_class:"form-control" }}
        </div>
      </div>
      <br>
      <div class="custom-control custom-checkbox">
          {{ form.salad }}
          <label class="custom-control-label" for="{{ form.salad.id_for_label }}">{{ form.salad.label }}</label>
      </div>
      <div class="custom-control custom-checkbox">
          {{ form.dessert }}
          <label class="custom-control-label" for="{{ form.dessert.id_for_label }}">{{ form.dessert.label }}</label>
      </div>
      <br>
      <input type="submit" value="Crear Menú" class="btn btn-block btn-primary btn-lg">
    </form>
    <script type="text/javascript">
      $(function () {
        $("#datetimepicker1").datetimepicker({
          format: 'DD/MM/YY',
        });
      });
    </script>
{% endblock %}