{%  extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Registro de usuarios{% endblock %}
{% block web_title %}Meal Delivery - Registro{% endblock %}
{% block content %}

{% if error %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Ups!</strong> Ya existe un usuario con este nombre</a>.
</div>
{% elif error is not True and error is not None %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Yay!</strong> Se ha creado el usuario exitosamente</a>.
</div>
{% endif %}
<p>Desde aquí puedes crear nuevos usuarios</p>
  <form method="post">
    {% csrf_token %}
      <p>
        Usuario<br>
        {{ form.username  | add_class:"form-control" }}
      </p>
      <p>
        Nombre<br>
        {{ form.name  | add_class:"form-control" }}
      </p>
      <p>
        Privilegios<br>
        {{ form.privilege  | add_class:"form-control" }}
      </p>
      <!-- Password  -->
      <p>
          Contraseña<br>
          {{ form.password  | add_class:"form-control" }}
      </p>
      <p>
        Confirmar contraseña<br>
        {{ form.confirm_password  | add_class:"form-control" }}
        <span id='error'></span>
      </p>
    <button type="submit" class="btn btn-block btn-primary btn-lg" name = "submit" id="submit">Crear Usuario</button>
    
  </form>
{% endblock %}







